<section>
    {{#each restaurants}}
        <div class="featured-listing">
            <a href="/restaurants/{{this.id}}">
                <article class="restaurant-card">
                    <header style="background-image: url({{this.image}});">
                        <div class="favourite-btn">
                            <i class="fas fa-heart"></i>
                        </div>
                    </header>
                    <main>
                        <h2>{{this.name}}</h2>
                        {{!-- <p>{{this.menus.length}} menus:</p><br> --}}
                        {{#each this.menus}}
                            <span>{{this.title}}</span><br>
                        {{/each}}
                    </main>
            </article>
            </a>
        </div>
    {{/each}}
    <article>
        <form action="/restaurants" method="POST">
            <br><br><br>
            <h3 class="menu-title">New<br>restaurant:</h3>
            <label>Restaurant Name:</label>
            <input name="name" type="text" required>
            <label>Restaurant Image:</label>
            <input name="image" type="url" required>
            <button type="submit">Add Restaurant</button>
        </form>
    </article>
</section>